fastapi==0.115.0
uvicorn==0.30.6
langchain==0.3.1
langchain-community==0.3.1
langchain-groq==0.2.0
langchain-google-genai==2.0.0
faiss-cpu==1.8.0
PyPDF2==3.0.1
streamlit==1.37.0
requests==2.31.0
pillow==10.2.0 
python-multipart
pypdf